.option_button {
    background-color: white;
    color: #a6662c;
    border: 1px solid #a6662c;
    border-radius: 3px;
    font-family: nunito, sans-serif;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
    width: 300px;
  }

  .option_button:active {
    background-color: #6386db;
    color: white;
    transition: background-color 0.15s, color 0.15s;
  }

  .option_button:focus{
    background-color: #6386db;
    color: white;
  }

  .heading_site {
    font-family: Happy Monkey;
    color: #92c573;
  }

  .heading_container {
    display: flex;
    justify-content: center;
  }

  .option_div{
    display: flex;
    justify-content: center;
  }

  .hr{
    display: block;
    background-color: #fdddc0;
    height: 7px;
  }

  .options_mcq{
    margin-top: 10px;
  }

  .image_description{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .main_question{
    font-family: nunito, sans-serif;
    color: #a6662c;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .description_question{
    font-family: nunito, sans-serif;
    color: #a6662c;
    font-style: italic;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  p{
    margin: 0px;
  }

  body{
    background-color: #ffead7;
    margin: 0;
  }

  .confirm_button{
    background-color: #aa4949;
    border-radius: 8px;
    color: white;

    border: 1px solid #aa4949;
    font-family: nunito, sans-serif;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
    width: 300px;
    height: 60px;
  }

  .confirm_button:hover{
    opacity: 90%;
  }

  .confirm_button:active{
    opacity: 80%;
  }


  .two_columns{
    display: flex;
    justify-content: center;
  }

  .left_aligned{
    margin-right: 5px;
  }

  .right_aligned{
    margin-left: 5px;
  }

  #back_button{
    color:#a6662c;
    background-color: #ffead7;
    border: 0;
  }

  .back_button_placement{
    display: inline-block;
  }
  